body {
  background-color: #121213;
}

.icones {
  /*background-color: red;*/
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3a3a3c;
  padding: 0 15px;
}

header div i {
  color: #fff;
  font-size: 25px;
  margin-right: 5px;
}

h1 {
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  /*border-bottom: 0.5px solid #3a3a3c;*/
}

#main {
  width: 350px;
  height: 315px;
  /*background-color: red;*/
  /*border: 1px solid #ccc;*/
  margin: 10px auto;
  margin-bottom: 100px;
}

.main_2 {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letras {
  width: 62px;
  height: 62px;
  margin-right: 6px;
  /*margin-bottom: 2px;*/
  float: left;
  border: 2px solid #3a3a3c;
}

.letras:hover {
  border: 2px solid #999;
}

/*#teclado {
  width: 100%; 
  height: 200px;
  background-color: aqua ;
}*/

#teclado {
  display: flex;
  grid-template: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px; / 20px;
  background-color: red;
}
