* {
  margin: 0;
  padding: 0;
}

h1 {
  width: 100%;
  height: 50px;
  line-height: 50px; 
  font-size: 35px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  background-color: #effff;
  margin: 2px auto;
  border-bottom: 1px solid #ccc;  
}

#main {
  width: 350px;
  height: 315px;
  /*background-color: red;*/
  /*border: 1px solid #ccc;*/
  margin: 30px auto;
  margin-bottom: 100px;
}

.main_2 {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letras {
  width: 62px;
  height: 62px;
  margin-right: 6px;
  /*margin-bottom: 2px;*/
  float: left;
  border: 2px solid #d3d6da;
}

.letras:hover {
  border: 2px solid #999;
}


/*Aqui inicia o teclado*/

#teclado {
  background-color: red;
  width: 390px;
  height: 150px; 
  position: absolute;
  left: 50%;   
  transform: translatex(-50%); 
}
